@import "../../index.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  .navbar {
    position: fixed;
    margin-top: 20px;
    width: 90%;
    top: 0;
    z-index: 1000;
    border: 1px solid rgb(161, 161, 161);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    color: black;
    background-color: white;

    .name {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px;
      padding-left: 2rem;
      img {
        width: 30px;
        cursor: pointer;
      }
    }
    .list {
      display: flex;
      list-style: none;
      gap: 30px;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      padding-right: 2rem;
      li {
        position: relative;
        transition: color 0.3s ease;

        &:hover {
          color: #34a0ff;
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 1px;
          background-color: #34a0ff;
          transition: width 0.3s ease;
        }

        &:hover:after {
          width: 100%;
        }
        a {
          font-weight: 500;
          color: black;
          text-decoration: inherit;
          &:hover {
            color: #34a0ff;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .name {
    padding-left: 1rem;
  }

  .list {
    padding-right: 1rem;
    gap: 15px;
    flex-direction: column;

    li {
      padding: 5px 0;
    }
  }
}
